<h1>Showing Users</h1>
<table>
	<thead>
		<tr>
		<td>
		First Name
		</td>
		<td>
		Second Name
		</td>
	</thead>
	<tbody>
		<tr>
			<td><%= @user.first_name %></td>
			<td><%= @user.last_name %></td>
		</tr>

	</tbody>
</table>