<h1>Showing new Product</h1>
<table>
	<thead>
		<tr>
		<td>
		Title
		</td>
		<td>
		Description
		</td>
	</thead>
	<tbody>
		<tr>
			<td><%= @product.title %></td>
			<td><%= @product.description %></td>
		</tr>

	</tbody>
</table>